.product-card {
  width: 200px;
  height: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
  
}

.product-image {
  width: 100%;
  height: auto;
}






